
$style-font: "Gill Sans Extrabold", Helvetica, sans-serif;
$style-fontwont:bold;
* {
    padding: 0;
    margin: 0;
}

.General {
    height: 100px;
    width: auto;
    display: block;
    justify-content: center;
    justify-items: center;

    &__Login {
        margin: 0 auto;
        height: 720px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(226, 216, 209, 0.507) 0%, rgba(212, 152, 114, 0.87) 100%),
            url("../../Components/images/imag1.jpg");
            background-size: cover;
        border: 1px solid black;
        display: grid;

        align-items: center;

        &__LoginForm {
            padding: 20px;
            display: grid;
            align-items: center;
            justify-content: center;
            align-content: center;
            text-align: center;
            gap: 20px;

            &--h2 { 
                font-family: $style-font;
                font-weight: $style-fontwont;
            }

            &__Inputs {
                padding: 15px;
                display: grid;
                gap: 20px;
                justify-content: center;
                align-content: center;

                &--Decoration {
                    border-radius: 5px;
                    background-color: #def;

                    text-align: center;
                }
            }

            &__Checkbox {
                display: grid;
                grid-template-columns: 6% 28% 50%;
                justify-content: center;
                align-items: center;
                text-align: center;
                
                &--label {
                    font-weight: $style-fontwont;
                }
                &--StyleFormRegistre {
                    font-weight: $style-fontwont;
                }
            }

            &__Button {
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
               
                &--ButtonLogin {

                    border-radius: 4px;
                    width: 90px;
                    height: 30px;
                    text-align: center;
                }
            }
        }
    }
}

.CARD {
    padding: 30px;
    background: #f3d4d400;
    overflow: hidden;
    font-size: 15px;
    width: 300;
}
.ant-card-head-title {
    font-size: 35px;
    font-family:$style-font;

}
